body{
    font-family: 'poppins';
    background-color: #1E1E1E;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: relative;
}

.main-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-top: 80px;
    left: 0px;
}

.content-container {
    position: relative;
    z-index: 1;
    padding: 20px 20px 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    left: 0px;
}

.Movie-name{
    font-size: 32px;
    flex-wrap: nowrap;
    display: flex;
    color: #FFFFFF;
    font-weight: 600;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.movie-poster{
  height: 420px;
  width: 304px;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  left: ;
  top: 120px;
  display: block;
  position: absolute;
}

.video-background {
    left: auto;
    right: auto;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 0;
    background-color: transparent;
    overflow: visible;
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}

.video-container {
    width: auto;
    height: 500px;
    overflow: visible;
    position: relative;
    left: 460px;
    
    background-color: transparent;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
}

.movie-trailer {
    width: auto;
    height:500px;
    object-fit: contain;
    object-position: left center;
    opacity: 0.9;
    /* Multiple mask layers for fading in different directions */
    -webkit-mask-image: 
        linear-gradient(to left, rgba(0,0,0,0.8) 60%, rgba(0,0,0,0) 100%),
        linear-gradient(to top, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0) 100%),
        linear-gradient(to bottom, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0) 100%);
    -webkit-mask-composite: source-in;
    mask-image: 
        linear-gradient(to left, rgba(0,0,0,0.8) 60%, rgba(0,0,0,0) 100%),
        linear-gradient(to top, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0) 100%),
        linear-gradient(to bottom, rgba(0,0,0,0.8) 80%, rgba(0,0,0,0) 100%);
    mask-composite: intersect;
    /* For Firefox */
    mask-position: 0 0, 0 0, 0 0;
    mask-repeat: no-repeat, no-repeat, no-repeat;
    mask-size: 100% 100%, 100% 100%, 100% 100%;
    background-color: transparent;
    transform: none;
    margin-left: 0;
    padding-left: 0;

}

/* Add a pseudo-element for top and bottom fade */
.video-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        to bottom, 
        rgba(30, 30, 30, 1) 0%, 
        rgba(30, 30, 30, 0) 10%, 
        rgba(30, 30, 30, 0) 90%, 
        rgba(30, 30, 30, 1) 100%
    );
    pointer-events: none;
    z-index: 1;
}


.video-container::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 100%;
    background: linear-gradient(
        to left, 
        rgba(30, 30, 30, 1) 0%, 
        rgba(30, 30, 30, 0) 100%
    );
    pointer-events: none;
    z-index: 1;
}

.navbar {
  background-color: #1a1a1a;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 380px;
  margin: 0 auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 2px solid #808080;
  position:fixed;
  top: 22px;  /* Adjust as needed */
  left: 50%; transform: translateX(-50%); /* Adjust as needed */
  z-index: 1000;
}

.nav-item {
    color: #999999;
    text-decoration: none;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 400;
   
}

::-webkit-scrollbar{
    display: none;
}

.nav-item:hover {
    background-color: #474747;
    color: #FFFFFF;
}


.profile-btn{
    position: fixed;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.2);
    display: flex;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    right: 48px;
    top: 22px;
    z-index: 1000;

}

.profile-btn:hover{
   transform: scale(1.10);
}

.hp-logo {
    position: fixed; 
    top: 30px;
    left: 20px;
    width: 208px;
    height: auto;
    z-index: 999;
}

.logo-container{
    position: absolute;
    left: 10px;
    bottom: 42%;
    width: 240px;
    height: auto;
}
.Movie-name{
    position: absolute;
    left: 410px;
    top: 120px;
    font-size: 48px;
    white-space: nowrap; 
    overflow: hidden;  
    text-overflow: ellipsis; 
    max-width: 1000%;
}
.imdb-logo{
    position: absolute;
    left: 410px;
    top: 220px;
    width: 80px;
    height: auto;
}
.movie-rating{
    position: absolute;
    left: 500px;
    top: 200px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 600;
    white-space: nowrap;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.movie-details {
    position: absolute;
    left: 410px;
    top: 260px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 1.6;
    max-width: 600px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    line-height: 1.4;
    white-space: nowrap;
}
.movie-formats{
    position: absolute;
    left: 410px;
    top: 290px;
    color: #FFFFFF;
    white-space: nowrap;
}


.book-tickets-btn {
    padding: 14px 30px;
    cursor: pointer;
    border: 0;
    font-family: 'poppins';
    position: absolute;
    left: 410px;
    top: 350px;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 18px;
    transition: all 0.5s ease;
    white-space: nowrap;
  }
  
  .book-tickets-btn:hover {
    letter-spacing: 3px;
    background-color: #01f66b;
    color: hsl(0, 0%, 100%);
    box-shadow: rgba(101, 94, 12, 0.197) 0px 7px 29px 0px;
    color: #000000;
  }
  
  .book-tickets-btn:active {
    letter-spacing: 3px;
    background-color: #00000000;
    color: hsla(0, 0%, 100%, 0.864);
    box-shadow: rgba(219, 205, 13, 0) 0px 0px 0px 0px;
    transform: translatey(10px);
    transition: 100ms;
  }
  .movie-about-header{
    position: absolute;
    top: 550px;
    font-size: 30px;
    color: #FFFFFF;
    white-space: nowrap;
  }
  .movie-about{
    position: absolute;
    top: 620px;
    font-size: 14px;
    color: #7f7a7a;
    width: 600px;
  }
  .main-container{
    top: -50px;
  }



.navbar-background-shape {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 80px;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  transition: background 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out;
  z-index: 100;
  background: transparent; 
}

.scrolled {
  background: rgba(255, 255, 255, 0.1); /* Light glass effect */
  backdrop-filter: blur(10px); /* Glass effect */
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.date-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 5px;
    padding-left: 2%;
}

.date-container {
    display: flex;
}

.date-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: #222;
    cursor: pointer;
}

.date-item.active {
    background-color: #e63946; /* Red background for active element */
}

.day, .month, .date {
    color: white; /* All text is white as requested */
    font-weight: normal;
}

.date {
    font-size: 24px;
    font-weight: bold;
}

.language-format {
    color: white;
    font-size: 16px;
}


.status-indicators {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-top:20px;
  margin-bottom: 20px;
  color: white;
  padding-left: 2%;
  position: absolute;
  right: 1%;
}

.status {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.dot {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
}

.green { background-color: #4CAF50;  }
.orange { background-color: #FF9800; }
.red { background-color: #F44336; }
.gray { background-color: #9E9E9E; }

.theater {
  margin-bottom: 20px;
  padding-left: 2.3%;
  width: 100%;
  margin-top: 40px;
}

.theatre-list{
  margin: 20px auto;
  margin-bottom: 48px;
}

.theater-name {
  font-size: 28px;
  margin-bottom: 0px;
  font-weight: bold;
  color: white;
  display:flex;
  flex-wrap: wrap;
}

.theater-location {
  font-size: 16px;
  color: #ccc;
  margin-bottom: 20px;
  margin-top: 0px;
}

.amenities {
  display: block;
  gap: 15px;
  margin-top: 20px;
}

.amenity {
  font-size: 14px;
  color: white;
  position: absolute;
  right: 5%;
}

.showtimes {
  display: flex;
  top: 45%;
  flex-wrap: wrap;
  gap : 20px;
  width: 1180px;
}

.showtime-btn {
  border: 2px solid;
  border-radius: 5px;
  padding: 5px;
  width: 120px;
  border-color:#01f66b;
  color :#01f66b;
  text-align: center;
  background-color: transparent;
  margin-right: 20px;
  transition: transform 0.3s ease-in-out;
}

.showtime-btn:hover {
    transform: scale(1.04);
}

.time, .screen-type{
  display: block; 
  text-align: center;
}

.time {
  font-size: 18px;
  font-weight: 600px;
  margin-bottom: 3px;
}

.screen-type {
  font-size: 10px;
  opacity: 0.7;
  text-transform: uppercase;
}

.divider {
  height: 1px;
  background-color: #333;
  margin: 30px 0;
  left: 5%;
  right: 5%;
}

.popcorn-icon, .wheelchair-icon {
  margin-left: 5px;
}

.footer-logo{
    
  width: 440px;
  height: 92px;
  margin-top: 106px;
  margin-bottom: 96px;
  display: block;
}

.footer{
  background: #000000;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  flex-direction: column; /* Ensures content stacks properly */
  width: 100%; /* Ensures it takes full width */
  text-align: center; /* Centers inline elements */
}

.view-tech-stack, .view-dev-info{
  width: 330px;
  height: 82px;
  border-radius: 4px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
  background: #141414;
  border: 1px solid #262626;
  transition: transform 0.3s ease-in-out;
}

.view-tech-stack:hover, .view-dev-info:hover {
  transform: scale(1.05); /* Slight zoom effect on hover */
}

.button-container {
  display: flex;
  justify-content: center; /* Centers buttons horizontally */
  align-items: center;
  gap: 48px; /* Adjust the spacing between buttons */
  width: 100%; 
  margin-bottom: 48px;
}

.footer h2{
  font-size: 100px;
}